<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>groupie_trucker</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <header>
        <h1>Groupie Trackers</h1>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
        <div class="search-container">
            <form action="/search" method="get" id="searchForm">
              <input
                type="text"
                name="search"
                id="searchInput"
                class="search-input"
                list="searchSuggestions"
                autocomplete="off"
                placeholder="Search artists..."
                />
                <button type="submit" class="search-button">Search</button>
                <datalist id="searchSuggestions">
                    {{range .All}}
                    <option value="{{.Artists.Name}}"></option>
                    <option value="{{.Artists.CreationDate}}"></option>
                    <option value="{{.Artists.FirstAlbum}}"></option>
                    {{range .Artists.Members}}
                    <option value="{{.}}"></option>
                    {{end}}
                    {{range .Locations}}
                    <option value="{{.}}"></option>
                    {{end}}
                    {{end}}
                </datalist>
            </form>
          </div>
    </header>
    <main>
        <h2>Artists</h2>
        <div class="artists-grid">
            {{range .Search}}
            <div class="artist-card">
                <div class="artist-image">
                <img src="{{.Artists.Image}}" alt="{{.Artists.Name}}" >
                </div>
                <div class="data">
                    <h3>{{.Artists.Name}}</h3>
                    <p>Created: {{.Artists.CreationDate}}</p>
                    <a href="/result/?id={{.Artists.ID}}"><button>{{.Artists.Name}}</button></a>
                </div>
            </div>
            {{end}}
        </div>
    </main>

    <div class="footer">
    <footer>
        <p>&copy; 2024 Groupie Trackers. All rights reserved.</p>
    </footer>
</div>
</body>
</html>