<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/template/css/style2.css">
    
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <pre class="text">{{.Result}}</pre><br><br>
      <form action="/ascii-art/Download" method="post">
        <button type="submit">Download</button><br><br>
        <button><a href="/">Back</a></button>
        <input type="hidden" name="t" value="{{.Data}}" />
        <input type="hidden" name="b" value="{{.Banners}}" />
      </form>
    </div>
  </body>
</html>
