<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii-Art-Web</title>
    <link rel="stylesheet" href="/template/css/style.css">
    
</head>
<body>
    <div class="main">
        <div class="h1"><h1>ascii-art-web</h1></div>
        <div class="fr">
            <form class="form" action="/ascii-art" method="post">
            <strong>welcome to our simple website you can put you text down in this textarea to Generate it into asccii </strong><br><br>
            <textarea class="tx" name="text"   id="text"></textarea><br>
            <p><strong>select your banner down here : </strong></p><br>

            <input class="sl" type="radio" value="standard" name="banner" id="standard" checked>
            <label for="standard">standard</label><br>
            
            <input class="sl" type="radio" value="shadow" name="banner" id="shadow">
            <label for="shadow">shadow</label><br>

            <input class="sl" type="radio" value="thinkertoy" name="banner" id="thinkertoy">
            <label for="thinkertoy">thinkertoy</label><br><br>
            
            <input class="btn" type="submit" value="Generate">
        </form>
    </div>
    </div>
</html>