<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii-Art-Web</title>
    
</head>
<body>
    <div>
        <form action="/ascii-art" method="post">
            <label for="text"><strong>welcome to our simple website you can put you text down in this textarea to Generate it into asccii </strong></label><br><br>
            <input  name="text"   id="text"><br>
            <p><strong>select your banner down here : </strong></p>

            <input type="radio" value="standard" name="banner" id="standard" checked>
            <label for="standard">standard</label><br>
            
            <input type="radio" value="shadow" name="banner" id="shadow">
            <label for="shadow">shadow</label><br>

            <input type="radio" value="thinkertoy" name="banner" id="thinkertoy">
            <label for="thinkertoy">thinkertoy</label><br><br>
            
            <input type="submit" value="Generate">
        </form>
    </div>
</html>